{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post_detl.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
    
        {% if post_detl.published_date %}
            <time class="date">
                {{ post_detl.published_date }}
            </time>
        {% endif %}
        <h2>{{ post_detl.title }}</h2>
        <p>{{ post_detl.text|linebreaksbr }}</p>
    </article>
{% endblock %}